.box {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 2;
    height: 583px;
  }
  
  .box .job-applicatin-form {
    height: 387px;
    left: 461px;
    position: absolute;
    top: 184px;
    width: 427px;
  }
  
  .box .overlap {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #00000045;
    border-radius: 3px;
    box-shadow: 0px 0px 63px 18px #fbd4b03d;
    height: 391px;
    left: -2px;
    position: relative;
    top: -2px;
    width: 423px;
  }
  
  .box .save-button {
    height: 40px;
    left: 20px;
    position: absolute;
    top: 334px;
    width: 187px;
    padding: 0px 1px;
    cursor: pointer;
  }
  
  .box .job-application-form-overlap-group {
    background-color: #000000cc;
    border-radius: 5px;
    height: 40px;
    position: relative;
    width: 185px;
  }

  .box .job-application-form-overlap-group:hover {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
  }

  .box .job-application-form-overlap-group:hover .text-wrapper {
    color: #000000;
  }
  
  .box .text-wrapper {
    color: #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    white-space: nowrap;
    width: 29px;
    left: -2.5px;
    letter-spacing: 0;
    white-space: nowrap;
    text-align: center;
    width: 100%;
  }
  
  .box .cancel-button {
    height: 40px;
    left: 212px;
    position: absolute;
    top: 334px;
    width: 187px;
    padding: 0px 1px;
    cursor: pointer;
  }
  
  .box .div {
    color: #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 74px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    white-space: nowrap;
  }
  
  .box .status-input-field {
    height: 34px;
    left: 20px;
    position: absolute;
    top: 269px;
    width: 375px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #00000026;
    color: #00000082;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: normal;
    padding-left: 12px;
  }
  
  .box .text-wrapper-3 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 242px;
    white-space: nowrap;
  }
  
  .box .position-input-field {
    height: 34px;
    left: 20px;
    position: absolute;
    top: 188px;
    width: 375px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #00000026;
    color: #00000082;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: normal;
    padding-left: 12px;
  }
  
  .box .text-wrapper-4 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 161px;
    white-space: nowrap;
  }
  
  .box .company-input-field {
    height: 34px;
    left: 20px;
    position: absolute;
    top: 107px;
    width: 375px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #00000026;
    color: #00000082;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: normal;
    padding-left: 12px;
  }
  
  .box .text-wrapper-5 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 80px;
    white-space: nowrap;
  }
  
  .box .text-wrapper-6 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 23px;
    white-space: nowrap;
  }
  